@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import '../node_modules/normalize-scss/sass/normalize/import-now';

$b1: #4DE6FF;
$b2: #71A0FF;
$b3: #00B3EA;
$b4: #375BEF;

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;  /* 10px = 1rem */
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;  /* px fallback */
  font-size: 1.6rem;  /* default font-size for document */
  line-height: 1.5;
  background: white;
  background-image: url(../assets/bluecaret-pattern.svg);
  background-size: 10%;
  background-position: right 0 top 0;
  background-repeat: repeat-y;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
}

header {
  width: 80rem;
  max-width: 90%;
  margin-top: 4rem;
  h1 {
    margin: 0;
    padding: 0;
  }
  img {
    width: 90%;
    height: auto;
  }
}

section {
  width: 80rem;
  max-width: 90%;
  display: block;
  margin: 4rem 0;
  h2 {
    color: $b2;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    background: $b1;
    padding: 1rem 3rem;
    margin: 0rem 1.5rem .5rem 0;
    border-radius: 1rem;
    color: black;
    font-weight: 700;
    text-decoration: none;
    &:hover,
    &:focus {
      background: $b2;
    }
  }
}

footer {
  width: 80rem;
  max-width: 90%;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  a {
    color: $b4;
    text-decoration: none;
    &:hover,
    &:focus {
      color: darken($b4, 10%);
      text-decoration: underline;
    }
  }
}

