@view-transition {
  navigation: auto;
}

/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: 'Stardew Valley';
  src: url('img/StardewValley.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Playpen Sans';
  font-stretch: 75% 100%;
  /* Note that font-stretch is a % of normal width */
  font-style: normal;
  font-weight: 100 800;
  src: url('img/PlaypenSans-VariableFont_wght.ttf') format('truetype-variations');
}

:root {
  --brand-primary: hsl(222, 50%, 42%);
  --wallpaper-bg: hsl(102, 52%, 25%);
  --wallpaper-fg: hsl(92, 85%, 16%);
  --text: hsl(1, 37%, 26%);
  --textRed: hsl(0, 55%, 56%);
  --textLight: hsl(30, 16%, 83%);
  --textTan: hsl(38, 100%, 76%);
  --textTanMed: hsl(38, 80%, 66%);
  --textTanDark: hsl(38, 30%, 66%);
  --textDark: black;
  --textDisabled: hsl(1, 7%, 30%);
  --focus: #d83700;

  --fontStardew: 400 1.4rem/1.2 'Stardew Valley', sans-serif;
  --fontExtraBold: 800 1.4rem/1.2 'Playpen Sans', sans-serif;
  --fontBold: 700 1.4rem/1.2 'Playpen Sans', sans-serif;
  --fontSemiBold: 600 1.4rem/1.2 'Playpen Sans', sans-serif;
  --fontMedium: 500 1.4rem/1.2 'Playpen Sans', sans-serif;
  --fontRegular: 400 1.4rem/1.2 'Playpen Sans', sans-serif;
  --fontLight: 300 1.4rem/1.2 'Playpen Sans', sans-serif;
  --fontExtraLight: 200 1.4rem/1.2 'Playpen Sans', sans-serif;
  --fontThin: 100 1.4rem/1.2 'Playpen Sans', sans-serif;
  
  --headerHeight: 6.4rem;
  --footerHeight: 7.2rem;

  --keyboard-height: 0px;

  &:has(.theme-dark) {
    --wallpaper-bg: hsl(222, 50%, 12%);
    --wallpaper-fg: hsl(222, 50%, 8%);
    --text: hsl(30, 16%, 83%);
    --textRed: hsl(0, 55%, 66%);
    --textLight: hsl(1, 37%, 26%);
    --textTan: hsl(38, 30%, 66%);
    --textTanMed: hsl(38, 50%, 76%);
    --textTanDark: hsl(38, 80%, 86%);
    --textDark: hsl(30, 16%, 73%);
    --textDisabled: hsl(30, 16%, 50%);
  }

  /* overscroll-behavior: none; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 3px solid var(--focus);
}

img {
  vertical-align: middle;
  line-height: 1;
  image-rendering: pixelated;
}

html {
  /* font-size: min(7dvw, 24px); */
  font-size: 62.5%;
  /* min-height: calc(100% + env(safe-area-inset-top)); */
}

body {
  width: 100dvw;
  height: calc(100svh - env(safe-area-inset-bottom) 
  - env(safe-area-inset-top) + var(--keyboard-height));
  padding-bottom: var(--keyboard-height); /* space for on-screen keyboard for iOS */
  transition: padding-bottom 0.25s ease; /* animate keyboard appearance */
  background-color: black;
  background-image: url('img/ui/landscape.png');
  background-position: top center;
  background-size: auto 100%;
  background-attachment: fixed;
  background-repeat: repeat-x;
  image-rendering: pixelated;
  transition:
    color 0.5s,
    background-color 0.5s;
  /* text-rendering: optimizeSpeed; */
  /* font-smooth: never; */
  /* -webkit-font-smoothing: none; */
  font: var(--fontRegular);
  color: var(--text);

  &.theme-dark {
    background-image: none;
    background-color: hsl(0, 0%, 0%);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.a {
  /* Anchor class to make buttons look like links */
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: inherit;
  }
}

[popover] {
  /* margin: 0; */
  padding: 0;
  border: 0;
  /* inset: auto; */
}

.pageFade-enter-active,
.pageFade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.pageFade-leave-active {
  position: absolute;
  inset: 0;
}

.pageFade-leave-to {
  opacity: 0;
}

.pageFade-enter-from {
  opacity: 0;
}
