.appIcon {
  --size: 1.6rem;
  --x: 0;
  --y: 0;
  --adjust: 1;
  display: inline-grid;
  place-items: center;
  width: calc(var(--size) * var(--adjust));
  height: calc(var(--size) * var(--adjust));
  background-color: transparent;
  background-image: url('img/ui/icons.png');
  background-repeat: no-repeat;
  background-size: calc(var(--size) * 20);
  background-position: calc(calc(var(--x) * var(--size)) * -1) calc(calc(var(--y) * var(--size)) * -1);
  border: 0;
  border-radius: 0;
  line-height: 1;
  image-rendering: pixelated;
  user-select: none;

  &.trim {
    margin-block: calc(calc(var(--size) / 5) * -1);
  }
}

.museumGraphic {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 24rem;
  @media (max-width: 32rem) {
    justify-self: center;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0 1.2rem;
}

.mainWidth {
  width: 100%;
  max-width: min(60ch, 80rem);
  margin-inline: auto;
}

footer {
  margin-block-start: auto;
  padding-block-start: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  align-items: center;
  @media (max-width: 32rem) {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.footerContent .footerContentBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  .copyright {
    font-size: 1.4rem;
  }
  .concernedape {
    font-size: 1.2rem;
    font-style: italic;
  }
  .designedBy {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    margin-block: 0 1.2rem;
  }
  .bluecaretLogo {
    width: 100%;
    height: auto;
    max-width: 10rem;
  }
  .bmc {
    display: inline-block;
    margin-block-end: .6rem;
    img {
      display: block;
      width: auto;
      height: 28px;
    }
  }
}

.logo {
  display: block;
  margin-block: 2.4rem 0;
  font-size: inherit;
  & a {
    display: block;
    margin-inline: auto;
    text-align: center;
  }
}

.logo img {
  width: 100%;
  /* max-width: calc(354px * 1.5); */
  height: auto;
  margin-inline: auto;
  image-rendering: pixelated;
}

.slogan,
.heading {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 400;
  /* font-style: italic; */
  text-align: center;
  font-family: 'Stardew Valley';
}
.slogan {
  margin-block-end: -1.4rem;
}

.explanation {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  text-wrap: balance;
  text-align: center;
  color: black;
  @media (max-width: 28rem) {
    font-size: 1.8rem;
  }
}

.getItBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
}

.getItBar a {
  display: inline-grid;
  place-items: center;
}

.getItBar a img {
  display: block;
  width: auto;
  height: 52px;
  image-rendering: optimizeQuality;
}

.getItBar a.getItBarBtn {
  min-height: 52px;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.1;
  padding: .4rem 1rem;
  padding-block: .4rem;
  gap: 0.6em;
  text-decoration: none;
  border-radius: 1rem;
  border: .15rem solid #a6a6a6;
  font-weight: 400;
  cursor: pointer;
  .getItBarBtnContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    gap: .2em;
    > small {
      font-size: 1rem;
    }
  }
}

.galleryWrapper {
  width: 100%;
  max-width: min(100ch, 120rem);
  margin-inline: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.2rem;
  img {
    width: 100%;
    height: auto;
  }
  .box.twigs {
    padding: 1rem 1.4rem;
  }
  .screenshotBtn {
    display: grid;
    place-items: center;
    border: 0;
    background: transparent;
    border-radius: 1.2rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    &:focus-visible {
      outline-offset: 1.4rem;
    }
  }
}

dialog.iconPopover {
  /* position: fixed; */
  /* inset: 0; */
  padding: 0;
  .close {
    cursor: pointer;
    .appIcon {
      --x: 12; --y: 4; --size: 2.4rem
    }
  }
}

dialog.iconPopover::backdrop {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

dialog.iconPopover {
  position: fixed;
  .iconPopoverInner {
    padding: .8rem;
  }
}

#dialogImage {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: .8rem;
  > div.box {
    padding: 2.4rem;
    & h2 {
      font-size: 1.6rem;
      margin-block-end: .8rem;
    }
    & p {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.3;
      text-align: center;
    }
  }
}

.featureIcon {
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  width: 100%;
  max-width: min(100ch, 120rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  @media (max-width: 36rem) {
    grid-template-columns: 1fr;
  }
  .box {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    & p {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
  .rating {
    margin-block: .4rem .6rem;
  }
}

.helpBox {
  margin-block-start: -1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  .btn {
    min-height: 5rem;
    padding-inline: 2rem;
    font-size: 1.6rem;
  }
}